html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
}
@media (min-width: 400px) {
	html, body {
		font-size: 18px;
	}
}
@media (min-width: 600px) {
	html, body {
		font-size: 20px;
	}
}
@media (min-width: 800px) {
	html, body {
		font-size: 25px;
	}
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 140%;
}

.invisible {
	display: none;
}

.events {
	max-width: 44em;
	margin: 0 auto;
}
.event {
	max-width: 100vw;
	padding: 0.25em 0.25em;
}

.header {
	width: 100%;
	padding: 0 0;
	background: #f8f8f8;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.header td {
	vertical-align: middle;
}

.team_td {
	width: 45%;
	font-size: 110%;
}
.team_name_container {
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}
.team_name {
	display: inline-block;
	vertical-align: middle;
}
.logo {
	vertical-align: middle;
	height: 2em;
	max-width: 4em;
}

.mscore {
	text-align: center;
	font-size: 160%;
}
.player_names {
	padding: 0.25em 0.4em;
}
.match {
	width: 100%;
	border-collapse: collapse;
	
}
.match td {
	border: 1px solid #aaa;
}
.match + .match {
	margin-top: .3em;
}
.match_name {
	width: 2.5em;
	text-align: center;
}
.score {
	width: 1.5em;
	text-align: center;
}

.footer {
	text-align: right;
}


.player_name {
	white-space: pre;
}
@media (max-width: 800px) {
	.header {
		padding: 0;
	}
	.player_names {
		padding: 0.1em;
	}
	.player_name {
		display: block;
	}
	.player_sep {
		display: none;
	}		
}

.status {
	color: #888;
	background: rgba(255, 255, 255, 0.9);
	padding: 0 0 .15em .25em;
	border-bottom-left-radius: 0.5em;
	position: fixed;
	top: 0;
	right: 0;
}
