/* styles when not embedded */

html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
}
@media (min-width: 400px) {
	html, body {
		font-size: 18px;
	}
}
@media (min-width: 600px) {
	html, body {
		font-size: 20px;
	}
}
@media (min-width: 800px) {
	html, body {
		font-size: 25px;
	}
}

.bbt_h1 {
	margin: 0;
	padding-top: 0.2em;
	text-align: center;
	font-size: 140%;
}

.bbt_main {
	max-width: 33em;
	margin: 0 auto;
}

.bbt_shortcuts {
	position: fixed;
	top: 0;
	left: 0;
}
.bbt_shortcuts_placeholder {
	width: 10em;
}
.bbt_vissel {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 0.5em;
	border-top-right-radius: 0.5em;
}
.bbt_vissel label {
	display: block;
	font-size: 80%;
}
@media (max-width: 1020px) {
	.bbt_shortcuts_placeholder {
		width: auto;
	}
	.bbt_shortcuts {
		position: static;
	}
	.bbt_shortcut {
		display: inline-block;
		margin-right: 1.5em;
		margin-bottom: 0.8em;
		min-width: 15em;
	}
	.bbt_vissel {
		position: static;
		padding: 0.1em .5em .5em .5em;
	}
	.bbt_vissel label {
		display: inline-block;
		margin-right: 0.7em;
	}
}
@media (min-width: 1021px) and (max-width: 1700px) {
	.bbt_root {
		display: -webkit-flex;
		display: flex;
	}

	.bbt_shortcuts_placeholder {
		width: 18em;
	}
	.bbt_shortcuts {
		position: fixed;
	}
}
