<h1>Badminton-Bundesliga auf einen Blick</h1>

<div class="status"></div>

{{{note_html}}}

<div class="shortcuts"></div>

<div class="events" data-initial-json="{{events_json}}"></div>

<div style="color:#444;text-align:center;margin:1.3em 0 .4em 0;">Fehlermeldungen und Verbesserungsideen gerne an <a href="mailto:phihag@phihag.de?subject=b.aufschlagwechsel.de">phihag@phihag.de</a></div>