<div class="bbt_root" data-rooturl="{{{root_path}}}" data-reporting-enabled="{{#report_problems}}true{{/report_problems}}">

<div class="bbt_shortcuts_placeholder">
<div class="bbt_shortcuts"></div>
</div>
<div class="bbt_vissel"></div>

<div class="bbt_status"></div>

<div style="max-width:33em;margin:0 auto;">

<h1 class="bbt_h1">Badminton-Bundesliga auf einen Blick</h1>


{{{note_html}}}

<div class="bbt_events" data-initial-json="{{events_json}}"></div>

<div style="color:#444;text-align:center;margin:1.3em 0 .4em 0;">Fehlermeldungen und Verbesserungsideen gerne an <a href="mailto:phihag@phihag.de?subject=b.aufschlagwechsel.de">Philipp Hagemeister</a></div>
</div>

</div>