<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8" />
<title>Badminton-Bundesliga auf einen Blick</title>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="{{{static_path}}}native.css?v=20190907" />
<link rel="stylesheet" href="{{{static_path}}}bbt.css?v=20190907" />
</head>
<body>
{{{content}}}


<script src="{{{static_path}}}compat.js?v=20190907"></script>
<script src="{{{static_path}}}report_problem.js?v=20190907"></script>
<script src="{{{static_path}}}calc.js?v=20190907"></script>
<script src="{{{static_path}}}extradata.js?v=20190907"></script>
<script src="{{{static_path}}}crender.js?v=20190907"></script>
<script src="{{{static_path}}}cutils.js?v=20190907"></script>
<script src="{{{static_path}}}uiu.js?v=20190907"></script>
<script src="{{{static_path}}}cvissel.js?v=20190907"></script>
<script src="{{{static_path}}}wsclient.js?v=20190907"></script>


<script src="{{{static_path}}}native.js?v=20190907"></script>

</body>
</html>