<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Badminton-Bundesliga auf einen Blick</title>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="{{{static_path}}}native.css" />
<link rel="stylesheet" href="{{{static_path}}}bbt.css" />
</head>
<body>
{{{content}}}


<script src="{{{static_path}}}compat.js"></script>
<script src="{{{static_path}}}report_problem.js"></script>
<script src="{{{static_path}}}calc.js"></script>
<script src="{{{static_path}}}extradata.js"></script>
<script src="{{{static_path}}}crender.js"></script>
<script src="{{{static_path}}}cutils.js"></script>
<script src="{{{static_path}}}uiu.js"></script>
<script src="{{{static_path}}}wsclient.js"></script>


<script src="{{{static_path}}}native.js"></script>

</body>
</html>