<!DOCTYPE html>
<html>
<head>
<title>Bundesliga-Live-Ticker</title>
<link rel="stylesheet" href="{{static_path}}bbt.css" />
</head>
<body>
{{{content}}}

<script src="{{static_path}}report_problem.js"></script>
<script src="{{static_path}}calc.js"></script>
<script src="{{static_path}}uiu.js"></script>
<script src="{{static_path}}client.js"></script>

</body>
</html>